[submodule "vendor/h2o"]
	path = vendor/h2o
	url = git@github.com:h2o/h2o.git
[submodule "vendor/wrk"]
	path = vendor/wrk
	url = git@github.com:wg/wrk.git
[submodule "vendor/nghttp2"]
	path = vendor/nghttp2
	url = git@github.com:nghttp2/nghttp2.git
